:root {
    --cor000: #e8f5fd;
    --cor001: #e8f5fd; /* Um azul bem claro, quase branco */
    --cor002: #90CAF9; /* Um azul claro e vibrante */
    --cor003: #42A5F5; /* Um azul médio, equilibrado */
    --cor004: #1E88E5; /* Um azul escuro, forte e confiável */
    --cor005: #0D47A1; /* Um azul profundo, para detalhes e contraste */
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor001);
}


header {
    background-image: linear-gradient(to bottom, var(--cor003), var(--cor004));
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

header > h1 {
    color: white;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    background-color: var(--cor004);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px ;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor005);
    color: var(--cor001);
}


main {
    min-width: 300px;
    max-width: 1200px;
    margin: 30px auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    border-radius: 10px;
}

main h1 {
    font-weight: normal;
}

main h2 {
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify; 
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    font-weight: bolder;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

main img {
    display: block;
    margin: 0 auto;
    width: 750px;
    text-align: center;
    max-width: 100%;
    height: auto;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor003), var(--cor004));
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
}


ul {
    margin-left: 50px;

}

h1, h2 {
    color: #444;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    width: 300px;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

.tabela-container {
    overflow-x: auto;
    max-width: 100%;
}


.tabela-leis {
    width: 600px; 
    font-size: 12px;
    table-layout: auto;
}

.tabela-leis th {
    background-color: #f2f2f2;
    white-space: nowrap; 
}

.tabela-leis td th {
    padding: 5px; 
    border: 1px solid #ccc; 
}

.caixa {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    
}

.caixafooter {
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.caixa input[type="checkbox"] {
    display: none; 
}

.caixa .conteudo {
    display: none; 
    margin-top: 10px;
}

.caixa input[type="checkbox"]:checked + label + .conteudo {
    display: block; 
}

.caixa label {
cursor: pointer;
color: #000000;
text-decoration: none;
}

.correta {
font-family: Arial, Helvetica, sans-serif;
color: rgb(29, 146, 29);
}

.errada {
font-family: Arial, Helvetica, sans-serif;
color: rgb(255, 0, 0);
}





